
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

BODY {
	background: #EEE;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0px;
}
H1 {
	background: #BBB;
	text-align: center;
	border: 1px solid #AAA;
	line-height: 28px; /* KG customization */
}
H1 A {
	color: black;
}
H3 {
	text-align: center;
	margin: 0px;
}
SECTION>H3 {
	background: #CCC;
	border: 1px solid #BBB;
}
SECTION>.blockbody, .thumb {
	background: #DDD;
	border: 1px solid #CCC;
}
SECTION>.blockbody, SECTION>H3, H1, FOOTER, .thumb {
	margin: 8px;
	padding: 8px;
	border-radius: 12px; /* standard, webkit, opera */
	-moz-border-radius: 12px; /* mozilla haven't committed yet */
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* standard, opera */
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* webkit haven't committed yet */
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* mozilla haven't committed yet */
}
THEAD {
	font-weight: bold;
}
TD {
	vertical-align: top;
	text-align: center;
}
FOOTER {
	text-align: center;
	background: #BBB;
	border: 1px solid #AAA;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

NAV {
	width: 200px;
	float: left;
	text-align: center;
	margin-left: 16px;
}
NAV .blockbody {
	font-size: 0.85em;
	text-align: center;
	overflow: hidden;
}
NAV TABLE {
	width: 150px;
    margin: auto;
}
NAV TD {
	vertical-align: middle;
}
NAV INPUT {
	width: 100%;
	padding: 0px;
}
NAV SELECT {
	width: 100%;
	padding: 0px;
}

#comments P {
	text-align: left;
	width: 150px;
	max-width: 150px;
	overflow: hidden;
}
.comment {
	text-align: left;
}

.more:after {
	content: " >>>";
}

.tag_count:before {
	content: "(";
}
.tag_count:after {
	content: ")";
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                 the main part of each page                     *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

ARTICLE {
	margin-left: 226px;
	margin-right: 16px;
	text-align: center;
	height: 1%;
}
ARTICLE TABLE {
	width: 90%;
	margin: auto;
}

.paginator {
	clear: both;
	padding: 4px;
	margin-bottom: 32px;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#pagelist {
	margin-top: 32px;
}

#tagmap A {
	padding: 8px 4px 8px 4px;
}

.setupblock {
	text-align: center;
	width: 350px;
}
.setupblock TEXTAREA {
	width: 300px;
	font-size: 0.75em;
}

.helpable {
	border-bottom: 1px dashed gray;
}

.ok {
	background: #AFA;
}
.bad {
	background: #FAA;
}

NAV .thumbblock {
	float: none;
	height: auto;
}
NAV .thumb {
	margin-bottom: 0px;
}
.thumbblock {
	width: 220px;
	height: 220px;
	display: inline-block;
	text-align: center;
	float: left;
}
.thumb {
	display: inline-block;
	margin-bottom: 32px;
}

#downtime #message, #downtime #login {
	text-align: center;
}
#downtime H3 {
	margin-top: 32px;
}
